.dashboard {
  background-color: $color-primary-light;
  padding: 2rem 1rem;

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 1rem;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
  }
}

.pagination {
  display: flex;
  gap: 0.25rem;
  justify-self: flex-end;

  &__item {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;

    &:first-child,
    &:last-child {
      border: 4px solid $color-primary-dark;
      border-radius: 0.5em;
      padding: 0.5rem 1rem;
      font-size: 14px;
      @include transition-ease(100ms);

      &:hover {
        border: 4px solid $color-primary;
      }
    }

    &--active {
      background-color: $color-light;
      border-radius: 0.5em;
    }

    &:not(:first-child):not(:last-child) .pagination__link {
      padding: 0.25em 0.5em;
    }
  }
}
