@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');
@import 'variables';

@font-face {
  font-family: 'Pokemon Solid';
  src: url('/public/fonts/PokemonSolid.woff2') format('woff2'),
    url('/public/fonts/PokemonSolid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-width: 360px;
}

@mixin gradient($direction, $list) {
  background: linear-gradient($direction, $list);
}

@mixin transition-ease($ms) {
  transition: all $ms ease-in-out;
}

@mixin bg-color-opacity($color, $opacity) {
  background: $color; // fallback
  background: rgba($color, $opacity);
}

@mixin media-desktop {
  @media screen and (min-width: 720px) {
    @content;
  }
}
