@include media-desktop {
  .card {
    height: 350px;
    width: 200px;
    margin-top: 0;

    &__type-container {
      top: -1rem;
      left: 1rem;

      & img {
        height: 38px;
        width: 38px;
      }
    }

    &__image-container {
      height: 200px;
    }

    &__detail {
      padding: 0.5rem 1rem;
    }
  }

  .navbar {
    padding: 1rem 2rem;
  }

  .dashboard {
    &__content {
      gap: 2rem;
    }
  }

  .pokemon-detail {
    &__basic-title {
      align-items: flex-start;
    }

    &__detail {
      flex-direction: row;
    }

    &__image-container {
      height: 290px;
    }

    &__detail-container {
      width: auto;
      flex: 1;
    }

    &__detail-container,
    &__basic,
    &__misc,
    &__misc-ability {
      align-items: flex-start;
    }
  }

  .pagination {
    gap: 0.5rem;

    &__item {
      &:not(:first-child):not(:last-child) .pagination__link {
        padding: 0.5em 1em;
      }
    }
  }

  .footer {
    &__copyright-mobile--hidden {
      display: inline;
    }
  }
}
