.text-bold {
  font-weight: 700;
}

.text-light {
  font-weight: 300;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-3 {
  font-size: 0.75rem;
}

.text-5 {
  font-size: 1.25rem;
}

.text-6 {
  font-size: 1.5rem;
}

.text-8 {
  font-size: 2rem;
}

.text-color-light {
  color: $color-light !important;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;

  &:hover {
    @include transition-ease(100ms);
  }
}

.btn-primary {
  background-color: $color-primary;
  color: $color-light;

  &:hover {
    background-color: $color-primary-light;
  }
}

.btn-primary-outline {
  padding: 0.25em 1em;
  background-color: transparent;
  color: $color-primary;
  border: 4px solid $color-primary;

  &:hover {
    color: $color-primary-light;
    border-color: $color-primary-light;
  }
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.tag {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

// custom color

.bg--default {
  background-color: $color-primary-dark;
  color: $color-light;
}

.bg--disabled {
  background-color: $color-disabled;
  color: $color-light;
}

.bg--bug {
  background-color: $color-type-bug;
  color: $color-light;
}

.bg--fairy {
  background-color: $color-type-fairy;
  color: $color-dark;
}

.bg--fire {
  background-color: $color-type-fire;
  color: $color-dark;
}

.bg--ghost {
  background-color: $color-type-ghost;
  color: $color-light;
}

.bg--normal {
  background-color: $color-type-normal;
  color: $color-light;
}

.bg--phsycic {
  background-color: $color-type-phsycic;
  color: $color-light;
}

.bg--steel {
  background-color: $color-type-steel;
  color: $color-light;
}

.bg--dark {
  background-color: $color-type-dark;
  color: $color-light;
}

.bg--electric {
  background-color: $color-type-electric;
  color: $color-dark;
}

.bg--fighting {
  background-color: $color-type-fighting;
  color: $color-light;
}

.bg--grass {
  background-color: $color-type-grass;
  color: $color-light;
}

.bg--ice {
  background-color: $color-type-ice;
  color: $color-dark;
}

.bg--poison {
  background-color: $color-type-poison;
  color: $color-light;
}

.bg--rock {
  background-color: $color-type-rock;
  color: $color-light;
}

.bg--water {
  background-color: $color-type-water;
  color: $color-light;
}

.bg--dragon {
  background: $color-type-dragon;
  color: $color-light;
}

.bg--ground {
  background: $color-type-ground;
  color: $color-light;
}

.bg--flying {
  background: $color-type-flying;
  color: $color-dark;
}
