$color-primary: #6bb0bf;
$color-primary-dark: #356773;
$color-primary-light: #c2ccce;

$color-secondary: #bfb658;
$color-secondary-dark: #736e3b;
$color-secondary-light: #f2d98d;

$color-accent: #bf7e97;
$color-dark: #292b2c;
$color-light: #f2f2f2;
$color-disabled: #777777;

// pokemon type color
$color-type-default: #356773;
$color-type-bug: #729f3f;
$color-type-fairy: #fdb9e9;
$color-type-fire: #fd7d24;
$color-type-ghost: #7b62a3;
$color-type-normal: #a4acaf;
$color-type-psychic: #f366b9;
$color-type-steel: #9eb7b8;
$color-type-dark: #707070;
$color-type-electric: #eed535;
$color-type-fighting: #d56723;
$color-type-grass: #9bcc50;
$color-type-ice: #51c4e7;
$color-type-poison: #b97fc9;
$color-type-rock: #a38c21;
$color-type-water: #4592c4;
$color-type-dragon: linear-gradient(to bottom, #53a4cf, #f16e57);
$color-type-ground: linear-gradient(to bottom, #f7de3f, #ab9842);
$color-type-flying: linear-gradient(to bottom, #3dc7ef, #bdb9b8);
