.card {
  background-color: $color-light;
  height: 300px;
  width: 150px;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 16px rgba($color: #000000, $alpha: 0.25);
  @include transition-ease(200ms);

  &__image-container {
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    padding: 1em;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__detail {
    padding: 0.5rem;
  }

  &:hover {
    transform: translateY(-4px);
  }
}
