.card {
  position: relative;
  background-color: $color-light;
  height: 300px;
  width: 150px;
  border-radius: 0.5rem;
  box-shadow: 0 0 16px rgba($color: #000000, $alpha: 0.25);
  margin-top: 1rem;
  @include transition-ease(200ms);

  &__type-container {
    position: absolute;
    top: -1rem;
    left: 1rem;
    display: flex;
    gap: 0.25rem;

    & img {
      width: 32px;
      height: 32px;
      border: 2px solid white;
      border-radius: 0.5rem;
    }
  }

  &__image-container {
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    overflow: hidden;
    padding: 1em;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__detail {
    padding: 0.5rem;
  }

  &:hover {
    transform: translateY(-4px);
  }
}
